@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F0F4F3;
}

.header{
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

h2{
    color: #3AB397;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #3AB397;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0.3);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

button:hover {
    animation: bounce 0.5s;
}


.container{
    border: none;
    border-radius: 25px;
    width: 1000px;
    height: 500px;
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0.3);
}

.form-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 10px;
    justify-content: space-around;
    
}

.form-rigth{
    width: 100%;
}

/*Estilo de los labels*/
.input-container {
    position: relative;
}

.input-container-input {
    color: gray;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #3AB397;
    background-color: transparent;
    transition: outline-color 500ms;
    width: 350px;
}

.input-container textarea.input-container-input {
    resize: none; /* Para que no puedan hacer el textarea más grande manualmente */
    height: 100px; /* Altura del textarea */
    padding-top: 20px; /* Para que el texto no se vea pegado arriba */
}


.input-container-input:is(:focus, :valid) {
    outline-color: #3AA8AD;
}

.input-container-label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 8px;
    color: black;
    transition: translate 500ms, scale 500ms;
    pointer-events: none;
}

.input-container-input:focus + .input-container-label,
.input-container-input:valid + .input-container-label {
    padding-inline: 10px;
    translate: 0px -14px;
    scale: 0.8;
    background-color: white;
    font-size: 20px;
}

/*Estilo de subir imagen*/
.form-rigth{
    padding: 20px;
}

.form-rigth label{
    font-size: 17px;
    display: flex;
}

.upload-failure {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
}
.container-upload-image {
    position: relative; /* Importante para que el input se posicione sobre la caja */
    width: 100%;
    height: 150px;
    background-color: rgba(230, 228, 228, 0.734);
    border: gray 3px dashed;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-upload-image img {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
}
.container-upload-image img:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.accept-values {
    font-size: 12px;
    color: gray;
}
